[Unit]
Description=What's In My Fridge
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/whatsinmyfridge
ExecStart=/usr/bin/python3 /home/pi/whatsinmyfridge/server.py
Restart=always

[Install]
WantedBy=multi-user.target
